body { margin: 0; }

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar { margin-bottom: 0; border-radius: 0; }

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content { height: 450px; }

ul { margin-bottom: 0px; }

/* Set black background color, white text and some padding */
footer {
  background-color: #343a40;
  color: white;
  padding: 15px;
	overflow: auto;
}

h1, h2 { text-align: center; }
.jumbotron h1 { text-align: left; }

/* Default table styling */
table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-size: 1em;
}
table, th, td { border: 2px solid black; padding: 5px; }

th {
	background-color: #343a40;
	color: white;
	text-align: center;
}
/*td {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}*/

.form-check-label { margin-left: 10px; }

/* Species tables */
.spp { margin-top: 1em; margin-left: 0px; width: 100%; }
.spp th, .spp td { border: .5em solid white; color: black; vertical-align: top; }

.spp-p { table-layout: fixed; text-align: center; }

li { text-align: left; }

.invis {
	margin-left: 0px;
	border: 0px solid white;
}
.invis th, .invis td { border: 0px solid white; }

.img-fluid { max-height: 100%; }

/* Generic buttons */
.btn { background-color: #505050; border-color: black; color: white; }
.btn:hover { background-color: black; color: white; }

/* Color-coded buttons */
.btn-p, .btn-l, .btn-b, .btn-m { color: black; }

.btn-l { background-color: #ccfeff; border-color: #66fcff; }
.btn-l:hover { background-color: #66fcff; }

.btn-b { background-color: #fff4b3; border-color: gold; }
.btn-b:hover { background-color: gold; }

.btn-m { background-color: #ffdb99; border-color: #ffa500; }
.btn-m:hover { background-color: #ffa500; }

.btn-p { background-color: #ebffcc; border-color: greenyellow; }
.btn-p:hover { background-color: greenyellow; }

.btn-new { margin-top: 15px; position: fixed; }
.btn-del { margin-bottom: 1em; left: 1em; }
.btn-edit { margin-top: 1em; right: 1em; position: absolute; z-index: 100; }

/* Basic colors */
.plant-color-1, .spp-p th { background-color: greenyellow; }
.plant-color-2, .spp-p td { background-color: #ebffcc; }

.lep-color-1, .spp-l th { background-color: #66fcff; }
.lep-color-2, .spp-l td { background-color: #ccfeff; }
.lep-color-3 { background-color: #80fdff; }

.bee-color-1, .spp-b th { background-color: gold; }
.bee-color-2, .spp-b td { background-color: #fff4b3; }

.misc-color-1, .spp-o th { background-color: #ffa500; }
.misc-color-2, .spp-o td { background-color: #ffdb99; }

/* Plant tags */
.spp-tag {
	background-color: greenyellow;
	margin: 0px 10px 0px 0px;
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
}
.tag-no {
	background-color: #ebffcc;
	font-style: italic;
}
